@media (min-width: 640px) and (max-width: 1007px) {
    .header .header__logo .header__logo-tablet {
        display: block;
    }
    .header .header__logo {
        width: 13.4rem;
    }
    .header .header__logo .header__logo-title,
    .header .header__logo .header__logo-img,
    .content .content__product .content__product-list .product__list-item:last-child,
    .content .content__product .content__product-list .product__list-item:nth-child(7),
    .content .content__product .push-6,
    .navigation,
    .content__service .push-6,
    .content__price .push-6 ,
    .content__feature .push-6,
    .content__feedback .push-6,
    .content__contact .push-6,
    .footer .push-6,
    .slide .push-6 {
        display: none;
    }
    .content .content__product .body-85,
    .content__service .body-85,
    .content__price .body-85,
    .content__feature .body-85,
    .content__feedback .body-85,
    .content__contact .body-85,
    .footer .body-85,
    .slide .body-85 {
        width: 100%;
    }
    .content .content__product .content__product-list {
        margin: 0 2rem;
    }
    .content__service-list .service__list-item .service__heading {
        max-width: 23.5rem;
        overflow: hidden;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .content__service-list .service__list-item .service__des {
        max-height: 9.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .slide,
    .content__service,
    .content__feature,
    .content__feedback,
    .content__contact,
    .footer,
    .content__price {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .content .content__product .content__product-list .product__list-item,
    .content__price-body .price__body-list .list__item {
        width: 32%;
    }

}