@import '/assets/css/main.css';
.content {
  width: 100%;
  margin-top: 2.2rem;
  overflow: hidden;
}
.content__heading {
  text-align: center;
  margin-bottom: 4.8rem;
}
.content__heading-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.content__heading-title span {
  background: -webkit-linear-gradient(#F55353, rgba(254, 177, 57, 0.97));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content__heading-des {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}
.content__product {
  margin-top: 4.2rem;
  width: 100%;
}
.content__product-list {
  width: 100%;
  overflow-x: scroll;
}
.content__product-list > div {
  width: 260rem;
  display: flex;
  flex-wrap: nowrap;
}
.content__product-list::-webkit-scrollbar {
  display: none;
}
.content__product-list .product__list-item {
  margin: 0 1rem;
  height: 18rem;
  width: 24%;
  flex-grow: 2;
  flex-basis: 0;
  border-radius: 1rem;
  margin-bottom: 1.6rem;
  transition: 0.3s ease;
}
.content__product-list .product__list-item:first-child {
  margin-left: 0;
  background-image: linear-gradient(#6F4EDE, #82D2FF);
}
.content__product-list .product__list-item:first-child:hover {
  box-shadow: 0 0px 30px rgba(130, 210, 255, 0.5);
}
.content__product-list .product__list-item:nth-child(2) {
  background-image: linear-gradient(#FF5F6D, #FFC371);
}
.content__product-list .product__list-item:nth-child(2):hover {
  box-shadow: 0 0px 30px rgba(255, 195, 113, 0.5);
}
.content__product-list .product__list-item:nth-child(3) {
  background-image: linear-gradient(#F28885, #E94F66);
}
.content__product-list .product__list-item:nth-child(3):hover {
  box-shadow: 0 0px 30px rgba(233, 79, 102, 0.5);
}
.content__product-list .product__list-item:nth-child(4) {
  background-image: linear-gradient(206deg, rgba(65, 88, 208, 0), rgba(200, 80, 192, 0.46), #82D2FF);
}
.content__product-list .product__list-item:nth-child(4):hover {
  box-shadow: 0 0px 30px rgba(255, 195, 113, 0.5);
}
.content__product-list .product__list-item:nth-child(5) {
  background-image: linear-gradient(#D4FC79, #96E6A1);
}
.content__product-list .product__list-item:nth-child(5):hover {
  box-shadow: 0 0px 30px rgba(255, 195, 113, 0.5);
}
.content__product-list .product__list-item:nth-child(6) {
  background-image: linear-gradient(#4FACFE, #00F2FE);
}
.content__product-list .product__list-item:nth-child(6):hover {
  box-shadow: 0 0px 30px rgba(255, 195, 113, 0.5);
}
.content__product-list .product__list-item:nth-child(7) {
  background-image: linear-gradient(90deg, rgba(255, 8, 68, 0.7), rgba(130, 210, 255, 0.3));
}
.content__product-list .product__list-item:nth-child(7):hover {
  box-shadow: 0 0px 30px rgba(255, 195, 113, 0.5);
}
.content__product-list .product__list-item:nth-child(8) {
  background-image: linear-gradient(#0FD850, #F9F047);
}
.content__product-list .product__list-item:nth-child(8):hover {
  box-shadow: 0 0px 30px rgba(255, 195, 113, 0.5);
}
.content__product-list .product__list-item:nth-child(9) {
  background-image: linear-gradient(#FDEB71, #F8D800);
}
.content__product-list .product__list-item:nth-child(9):hover {
  box-shadow: 0 0px 30px rgba(255, 195, 113, 0.5);
}
.content__product-list .product__list-item:nth-child(10) {
  background-image: linear-gradient(#6F4EDE, #82D2FF);
}
.content__product-list .product__list-item:nth-child(10):hover {
  box-shadow: 0 0px 30px rgba(255, 195, 113, 0.5);
}
.content__product-list .product__list-item:nth-child(11) {
  background-image: linear-gradient(#FF5F6D, #FFC371);
}
.content__product-list .product__list-item:nth-child(11):hover {
  box-shadow: 0 0px 30px rgba(255, 195, 113, 0.5);
}
.content__product-list .product__list-item:nth-child(12) {
  background-image: linear-gradient(#F28885, #E94F66);
}
.content__product-list .product__list-item:nth-child(12):hover {
  box-shadow: 0 0px 30px rgba(255, 195, 113, 0.5);
}
.content__product-btn {
  text-align: center;
}
.content__product-btn button {
  padding: 1.7rem 4.8rem;
  border-radius: 0.5rem;
  border: none;
  margin: 4.6rem 0 8.3rem 0;
  font-size: 1.6rem;
  color: var(--text-white);
  background-color: var(--color-primary);
  box-shadow: 0 0.8rem 1.6rem rgba(250, 116, 54, 0.24);
}
.content__service-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.content__service-list .service__list-item {
  width: 30%;
  margin-bottom: 6.5rem;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
  padding: 2.8rem 2.8rem 2.8rem 4.4rem;
  box-shadow: 0 1px 15px 2px rgba(0, 0, 0, 0.05);
}
.content__service-list .service__list-item .service__img {
  width: 6.1rem;
  height: 6.1rem;
  background-color: rgba(254, 177, 57, 0.1);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__service-list .service__list-item .service__heading {
  font-size: 2rem;
  color: #222222;
  margin-top: 4.9rem;
  font-weight: 500;
}
.content__service-list .service__list-item .service__des {
  font-size: 1.5rem;
  margin-top: 1rem;
}
.content__service-list .service__list-item .service__btn {
  display: flex;
  align-items: center;
  margin-top: 4.9rem;
}
.content__service-list .service__list-item .service__btn-icon {
  padding: 1.6rem 2.6rem;
  border-radius: 1rem;
  background-color: var(--color-primary);
}
.content__service-list .service__list-item .service__btn-icon:hover i {
  transform: scale(1.2);
}
.content__service-list .service__list-item .service__btn-icon i {
  transition: 0.2s linear;
  font-size: 1.8rem;
  color: var(--text-white);
}
.content__service-list .service__list-item .service__btn-text {
  color: var(--color-primary);
  font-size: 2rem;
  margin: 0 1rem;
  font-weight: 600;
}
.content__service-list .service__list-item:hover {
  transform: translateY(-1rem);
}
.content__price-body .price__body-btn {
  display: flex;
  justify-content: center;
  margin: 4.8rem auto 0 auto;
}
.content__price-body .price__body-btn ul {
  border-radius: 2rem;
  background-color: var(--color-disable);
  display: inline;
  list-style: none;
}
.content__price-body .price__body-btn ul li {
  display: inline-block;
}
.content__price-body .price__body-btn .btn__old {
  border: none;
  font-size: 1.7rem;
  font-weight: 500;
  border-radius: 2rem;
  color: var(--text-white);
  background-color: var(--color-primary);
  padding: 0.8rem 4.3rem;
}
.content__price-body .price__body-btn .btn__new {
  border: none;
  font-size: 1.7rem;
  font-weight: 500;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color: var(--text-black);
  background-color: var(--color-disable);
  padding: 0.8rem 3rem;
}
.content__price-body .price__body-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 8.9rem;
}
.content__price-body .price__body-list .list__item {
  width: 30%;
  margin-bottom: 6.5rem;
  padding: 2.4rem;
  background-image: linear-gradient(#A1C4FD, #C2E9FB);
  border-radius: 1rem;
}
.content__price-body .price__body-list .list__item-icon {
  display: inline-block;
  background-color: var(--color-primary);
  border-radius: 999px;
  padding: 1.03rem 1.4rem;
}
.content__price-body .price__body-list .list__item-text {
  text-align: center;
}
.content__price-body .price__body-list .list__item-text p:nth-child(2), .content__price-body .price__body-list .list__item-text p:first-child {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-white);
}
.content__price-body .price__body-list .list__item-text p:nth-child(2) {
  margin-top: 0.91rem;
}
.content__price-body .price__body-list .list__item-text p:last-child {
  margin-top: 0.91rem;
  font-size: 1.5rem;
  color: var(--text-white);
}
.content__price-body .price__body-list .list__item-text div {
  margin: 0.6rem auto 0 auto;
  width: 10rem;
  height: 0.7rem;
  border-radius: 999px;
  background-color: var(--bgc-white);
}
.content__price-body .price__body-list .list__item-function {
  list-style: none;
  margin-top: 1.7rem;
}
.content__price-body .price__body-list .list__item-function li {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.content__price-body .price__body-list .list__item-function li .function__icon {
  border-radius: 999rem;
  padding: 0.8rem 1.15rem;
  background-color: var(--color-succes);
}
.content__price-body .price__body-list .list__item-function li .function__text {
  margin: 0 1rem;
}
.content__price-body .price__body-list .list__item-btn {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.content__price-body .price__body-list .list__item-btn .btn__subcribe {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 1rem;
}
.content__price-body .price__body-list .list__item-btn .btn__subcribe button {
  font-size: 1.5rem;
  background-color: var(--color-primary);
  border: none;
  color: var(--text-white);
}
.content__price-body .price__body-list .list__item-btn .btn__subcribe i {
  color: var(--text-white);
  font-size: 1.5rem;
  margin: 0 0 0 1rem;
}
.content__feature-body .feature__body-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content__feature-body .feature__body-list .list__item {
  flex-wrap: wrap;
  justify-content: space-between;
}
.content__feature-body .feature__body-list .list__item-sub {
  margin-bottom: 3rem;
  padding: 2rem;
  width: 48%;
  border-radius: 1rem;
  display: flex;
  background-color: var(--bgc-white);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}
.content__feature-body .feature__body-list .list__item-sub .sub__icon {
  padding: 1rem 1.15rem;
  border-radius: 999rem;
  height: 32px;
  width: 32px;
  background-color: var(--color-green);
}
.content__feature-body .feature__body-list .list__item-sub .sub__icon svg {
  font-size: 1.5rem;
}
.content__feature-body .feature__body-list .list__item-sub .sub__heading {
  margin: 0 1rem;
}
.content__feature-body .feature__body-list .list__item-sub .sub__heading h3 {
  font-size: 1.5rem;
}
.content__feature-body .feature__body-list .list__item-sub .sub__heading p {
  margin-top: 1rem;
  font-size: 1.5rem;
}
.content__feature-body .feature__body-list .list__item:first-child {
  width: 60%;
  display: flex;
}
.content__feature-body .feature__body-list .list__item:last-child {
  width: 35%;
}
.content__feature-body .feature__body-list .list__item img {
  width: 100%;
}

/*# sourceMappingURL=content.css.map */
