@import '/assets/css/main.css';
@import './contact/contact.css';
@import './feature/feature.css';
@import './feedback/feedback.css';
@import './price/price.css';
@import './project/project.css';
@import './service/service.css';
.content {
    width: 100%;
    margin-top: 2.2rem;
    overflow: hidden;
    &__heading {
        text-align: center;
        margin-bottom: 4.8rem;
        &-title {
            font-size: 3rem;
            font-weight: 600;
            margin-bottom: .8rem;

            span {
                background: -webkit-linear-gradient(#F55353, rgba(254, 177, 57,0.97));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &-des {
            font-size: 2rem;
            text-align: center;
            margin: 0 auto;
        }
    }
    &__product {
        margin-top: 4.2rem;
        width: 100%;
        &-list {
            & > div {
                width: 260rem; 
                display: flex;
                flex-wrap: nowrap;
            }
            &::-webkit-scrollbar {
                display: none;
            }
            width: 100%;
            overflow-x: scroll;
            .product__list-item {
                margin:0 1rem;
                height: 18rem;
                width: 24%;
                flex-grow: 2;
                flex-basis: 0;
                border-radius: 1rem;
                margin-bottom: 1.6rem;
                transition: .3s ease;
                &:first-child {
                    margin-left: 0;
                    background-image: linear-gradient(#6F4EDE,#82D2FF);
                    &:hover {
                        box-shadow: 0 0px 30px rgba(130, 210, 255,0.5);
                    }
                }
                &:nth-child(2) {
                    background-image: linear-gradient(#FF5F6D,#FFC371);
                    &:hover {
                        box-shadow: 0 0px 30px rgba(255, 195, 113,0.5);
                    }
                }
                &:nth-child(3) {
                    background-image: linear-gradient(#F28885,#E94F66);
                    &:hover {
                        box-shadow: 0 0px 30px rgba(233, 79, 102,0.5);
                    }
                }
                &:nth-child(4) {
                    background-image: linear-gradient(206deg,rgba(65, 88, 208,0),rgba(200, 80, 192,0.46),#82D2FF);
                    &:hover {
                        box-shadow: 0 0px 30px rgba(255, 195, 113,0.5);
                    }
                }
                &:nth-child(5) {
                    background-image: linear-gradient(#D4FC79,#96E6A1);
                    &:hover {
                        box-shadow: 0 0px 30px rgba(255, 195, 113,0.5);
                    }
                }
                &:nth-child(6) {
                    background-image: linear-gradient(#4FACFE,#00F2FE);
                    &:hover {
                        box-shadow: 0 0px 30px rgba(255, 195, 113,0.5);
                    }
                }
                &:nth-child(7) {
                    background-image: linear-gradient(90deg,rgba(255, 8, 68,0.7),rgba(130, 210, 255,0.3));
                    &:hover {
                        box-shadow: 0 0px 30px rgba(255, 195, 113,0.5);
                    }
                }
                &:nth-child(8) {
                    background-image: linear-gradient(#0FD850,#F9F047);
                    &:hover {
                        box-shadow: 0 0px 30px rgba(255, 195, 113,0.5);
                    }
                }
                &:nth-child(9) {
                    background-image: linear-gradient(#FDEB71,#F8D800);
                    &:hover {
                        box-shadow: 0 0px 30px rgba(255, 195, 113,0.5);
                    }
                }
                &:nth-child(10) {
                    background-image: linear-gradient(#6F4EDE,#82D2FF);
                    &:hover {
                        box-shadow: 0 0px 30px rgba(255, 195, 113,0.5);
                    }

                }
                &:nth-child(11) {
                    background-image: linear-gradient(#FF5F6D,#FFC371);
                    &:hover {
                        box-shadow: 0 0px 30px rgba(255, 195, 113,0.5);
                    }
                }
                &:nth-child(12  ) {
                    background-image: linear-gradient(#F28885,#E94F66);
                    &:hover {
                        box-shadow: 0 0px 30px rgba(255, 195, 113,0.5);
                    }
                }
            }
        }
        &-btn {
            text-align: center;
            button {
                padding: 1.7rem 4.8rem;
                border-radius: .5rem;
                border: none;
                margin: 4.6rem 0 8.3rem 0;
                font-size: 1.6rem;
                color: var(--text-white);
                background-color: var(--color-primary);
                box-shadow: 0 .8rem 1.6rem rgba(250, 116, 54,.24);
            }
        }
    }
}
