@import '/assets/css/main.css';
.navigation {
    .mobile {
        position: fixed;
        top: var(--height-header);
        left: 0;
        margin: 1.7rem 0 0 1rem;
        bottom: 0;
        .navigation__list {
            list-style-type: none;
            .navigation__list-item.active {
                background-color: #E8EBED;
            }
            .navigation__list-item {
                transition: .2s ease-in-out;
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
                padding: 1.5rem 1rem;
                align-items: center;
                border-radius: 2rem;
                font-size: 1.8rem;
                p {
                    font-size: 1.3rem;
                    margin-top: .5rem;
                }
                &:hover {
                    background-color: #E8EBED;
                }
            }
        }
        
    }
}
// css content when click item
.project,
.price,
.service {
    margin-top: calc(var(--height-header) + 5rem);
    .content__heading {
        text-align: left;
        &-des {
            text-align: left;
        }
    }
}


